<div class="container">
  <div class="box-container">
    <button
      *ngFor="let box of boxes; let i = index"
      class="box"
      [ngClass]="{
        xClass: isXClicked(boxes[i]),
        oClass: isOClicked(boxes[i])
      }"
      [disabled]="isXClicked(boxes[i]) || isOClicked(boxes[i])"
      (click)="onClick(boxes[i])"
    ></button>
    <div *ngIf="winnerData" class="game-over">
      Player {{ winner }} is the WINNER!
    </div>
    <div *ngIf="isDraw" class="game-over">
      Game over!
    </div>
  </div>

  <div class="btn-container">
    <button
      class="btn"
      [ngStyle]="{
        'background-color': userMode === 'X' ? 'rgb(48, 108, 185)' : 'brown'
      }"
      (click)="onChangeUserMode('X')"
    >
      X
    </button>
    <button
      class="btn"
      [ngStyle]="{
        'background-color': userMode === 'O' ? 'rgb(48, 108, 185)' : 'brown'
      }"
      (click)="onChangeUserMode('O')"
    >
      O
    </button>
    <button class="btn" id="reset-btn" (click)="onReset()">Reset</button>
  </div>
</div>
